<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297316646050-g3jfsukvt20dn0c8hqk0p6ob38ffjjkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297316646050-g3jfsukvt20dn0c8hqk0p6ob38ffjjkr</string>
	<key>API_KEY</key>
	<string>AIzaSyAzU23INR9TXzIX1zeKcJDiZK9pwDNrs10</string>
	<key>GCM_SENDER_ID</key>
	<string>297316646050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEcommerce</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecommerce-5ecaf</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecommerce-5ecaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297316646050:ios:418b5e6a077fa58ae4abfb</string>
</dict>
</plist>