<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077324787021-3va1epv3vebr67k782b0plcfodc7fovi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077324787021-3va1epv3vebr67k782b0plcfodc7fovi</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ0igoFxT2dwMuwc_KCwLtXn5OV9TCVic</string>
	<key>GCM_SENDER_ID</key>
	<string>1077324787021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>note-fire-820a9</string>
	<key>STORAGE_BUCKET</key>
	<string>note-fire-820a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077324787021:ios:41eabc2d6e6a988303db04</string>
</dict>
</plist>